@using CoreDepartman.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_testLayout.cshtml";
}
<div class="container">
    <div class="row my-2">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th>PersonelID</th>
                    <th>PersonelAd</th>
                    <th>PersonelSoyad</th>
                    <th>PersonelŞehir</th>
                    <th>PersonelDepartman</th>
                </tr>
                @{
                    foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.PersonelID</td>
                            <td>@p.PerAd</td>
                            <td>@p.PerSoyad</td>
                            <td>@p.PerSehir</td>
                            <td>@p.Departman.DepartmanAd</td>
                            <td><a href="/Personel/PersonelSil/@p.PersonelID" class="btn btn-danger">Sil</a></td>
                        </tr>
                        
                    }
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/Personel/YeniPersonel" class="btn btn-primary">Personel Ekle</a>
        </div>
    </div>
</div>